<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.micro_letter_ordering.dao.OrderMasterMapper" >
  <resultMap id="BaseResultMap" type="com.example.micro_letter_ordering.pojo.OrderMaster" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="buyer_name" property="buyerName" jdbcType="VARCHAR" />
    <result column="buyer_phone" property="buyerPhone" jdbcType="VARCHAR" />
    <result column="buyer_address" property="buyerAddress" jdbcType="VARCHAR" />
    <result column="buyer_openid" property="buyerOpenid" jdbcType="VARCHAR" />
    <result column="order_amount" property="orderAmount" jdbcType="DECIMAL" />
    <result column="order_status" property="orderStatus" jdbcType="TINYINT" />
    <result column="pay_status" property="payStatus" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    order_id, buyer_name, buyer_phone, buyer_address, buyer_openid, order_amount, order_status, 
    pay_status, create_time, update_time
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from order_master
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>

  <insert id="insertSelective" parameterType="com.example.micro_letter_ordering.pojo.OrderMaster" >
    insert into order_master
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="buyerName != null" >
        buyer_name,
      </if>
      <if test="buyerPhone != null" >
        buyer_phone,
      </if>
      <if test="buyerAddress != null" >
        buyer_address,
      </if>
      <if test="buyerOpenid != null" >
        buyer_openid,
      </if>
      <if test="orderAmount != null" >
        order_amount,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="payStatus != null" >
        pay_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="buyerName != null" >
        #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="buyerPhone != null" >
        #{buyerPhone,jdbcType=VARCHAR},
      </if>
      <if test="buyerAddress != null" >
        #{buyerAddress,jdbcType=VARCHAR},
      </if>
      <if test="buyerOpenid != null" >
        #{buyerOpenid,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.example.micro_letter_ordering.pojo.OrderMaster" >
    update order_master
    <set >
      <if test="buyerName != null" >
        buyer_name = #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="buyerPhone != null" >
        buyer_phone = #{buyerPhone,jdbcType=VARCHAR},
      </if>
      <if test="buyerAddress != null" >
        buyer_address = #{buyerAddress,jdbcType=VARCHAR},
      </if>
      <if test="buyerOpenid != null" >
        buyer_openid = #{buyerOpenid,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        order_amount = #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="payStatus != null" >
        pay_status = #{payStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>

</mapper>